@chart-size: 120px;
@chart-block-size: @chart-size + 2 * @margin;

//circle
.sv-dashboard.sv-circle {
  .item-info {
    flex-wrap: wrap;
    align-items: stretch;
    display: flex;
    height: @height - @title;

    .s-chart{
      padding: @margin;
      height: 100%;
      display: flex;
      align-items: center;

      svg {
        max-width: @chart-size;
      }
    }
    .total{
      width:  ~"calc(100% - @{chart-block-size})";
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .row-list{
        flex-wrap: nowrap;
        display: flex;
        align-items: flex-start;
        width: 100%;

        .row-item{
          width: 50%;

          p{
            margin: 0;
            font-size: 14px;
            color: fade(@color, 60%);
            padding-right: @margin / 2;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
          }
          span{
            display: block;
            line-height: .1;
          }
          svg{
            max-width: 100%;
          }
        }
        & ~ .row-list{
          margin-top: @margin / 2;
        }
      }

      &.total-single {
        .row-list {
          flex-direction: column;
          justify-content: center;
          height: 100%;
          width: 100%;

          .row-item ~ .row-item {
            margin-top: @margin / 2;
          }
        }
      }

      &.total-double {
        padding: @margin / 2 0;
      }
    }
  }

  &.sv-col-xs{
    .item-info {
      .s-chart{
        width: 100%;
        align-items: center;
        justify-content: center;
      }
      .total{
        display: none;
      }
    }

  }

  &.sv-col-lg, &.sv-col-max{
    .item-info {
      justify-content: flex-start;

      .total{
        flex-wrap: nowrap;

        .row-list{
          margin: 0;
          width: auto;

          .row-item{
            margin-right: @margin/2;
            width: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .sv-dashboard.sv-circle {
    &.sv-col-lg, &.sv-col-max{
      .item-info {
        flex-wrap: wrap;

        .total{
          flex-wrap: wrap;

          .row-list{
            width: 100%;

            .row-item{
              width: 50%;

              svg{
                max-width: 135px;
              }
            }
          }

          &.total-double {
            .row-list{
              .row-item{
                svg{
                  height: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .sv-dashboard.sv-circle {
    &.sv-col-md, &.sv-col-sm, &.sv-col-lg, &.sv-col-max{
      .item-info {
        .s-chart{
          width: 100%;
          align-items: center;
          justify-content: center;
        }

        .total{
          display: none;
        }
      }
    }
  }
}
